*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial, sans-serif;
    background-color: white;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c0392b;
    color:#ecf0f1;
    width: 100%;
    height: 200px;
    transition: all 1.5s ease;  
}
header:hover{
    background-color: black;
}
section{
    min-height: 500px
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c0392b;
    color:#ecf0f1;
    width: 100%;
    height: 200px;
    transition: all 1.5s ease;  
}
footer:hover{
    background-color: black;
}
.card{
    margin-top: 50px ;
    margin-bottom: 50px;
}