        <head>
            <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
            <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">

            <!-- Custom styles for this template-->
            <link href="css/sb-admin-2.min.css" rel="stylesheet">
        
        
        
        
        
        </head>
        <ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-fw fa-box"></i>                </div>
                <div class="sidebar-brand-text mx-3">Dahsboard</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active" >
                <a class="nav-link" href="dashboard" th:href="@{/dashboard}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

               <!-- Divider -->
            <hr class="sidebar-divider">


            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/inventario}">
                  <i class="fas fa-fw fa-warehouse"></i>
                  <span>Inventario</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" th:href="@{/compras}">
                  <i class="fas fa-fw fa-shopping-cart"></i>
                  <span>Compras</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" th:href="@{/proveedores}">
                  <i class="fas fa-fw fa-truck"></i>
                  <span>Proveedores</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/trabajadores}">
                  <i class="fas fa-fw fa-truck"></i>
                  <span>Trabajadores</span>
                </a>
              </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

           

        </ul>
